body {
  margin: 0;
}

.navbar {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 180px;
  background: #d5d5d595;
  backdrop-filter: blur(12px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.459);
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  color: #3a3a3a;
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-item {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-item.active {
  color: #3a3a3a;
}

a {
  text-decoration: none;
}
